.productListMain{
    height: 100vh;
    display: flex;
}

.prodDetail p span{
    font-weight: bold;
}

.hrStyle{
    
    border: 1px solid lightgray;
    width: 100%;
}

.productsSection {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(180px, 400px));
//     gap: 20px;
background-color: lightgrey;
margin: 0px 20px;
padding:30px;
}

.heading{
    background-color: darkslategray;
    padding: 10px;
    color: #fff;
}

.userForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
