:root {
    --lf-color-primary: #c6c6c6;
    --lf-color-white: #ffffff;
    --lf-color-black: #000000;
    --lf-color-contrast-primary: var(--lf-color-white);
    --lf-color-primary-light: #44A8B1;
    --lf-color-contrast-primary-light: var(--lf-color-white);
    --lf-color-secondary: #00648A;
    --lf-color-contrast-secondary: var(--lf-color-white);
    --lf-color-warning: #ffc107;
    --lf-color-contrast-warning: var(--lf-color-white);
    --lf-color-danger: #E21E2C;
    --lf-color-contrast-danger: var(--lf-color-white);
    --lf-color-f5f5f5: #f5f5f5;
    --lf-color-red: #7a1616;
}