.reportFound {
  max-width: auto;
  background-color: var(--lf-color-white);
  border-radius: 0.5rem;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .heading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 58%;
    background-color: #194c5c;
    padding: .25rem;
    color: var(--lf-color-white);
  }

  .form {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;

    .formGroup {
      width: 100%;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    .formItem {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .label {
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      .input,
      .textarea {
        padding: 0.5rem;
        border: 1px solid #d1d5db;
        border-radius: 0.375rem;
        font-size: 1rem;
      }

      .textarea {
        resize: vertical;
      }
    }

    .radioGroup {
      display: flex;
      justify-content: flex-start;
      margin-top: 0.5rem;

      .radioLabel {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;

        input {
          margin-right: 0.5rem;
        }
      }
    }

    .sideContainer {
      display: flex;
      flex-direction: column;
      width: 70%;

      .tagsContainer {
        margin-bottom: 1rem;

        .tags{
          display: flex;
          gap: 10px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 10px;
          margin-top: 10px;
          border-radius: 6px;
          
        }

        .tagsList{
          padding: 10px;
          font-size: 16px;
          background-color: #f4f4f4;
          border-radius: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          border: none;
          gap: 20px;
          transition: background-color 0.3s ease-in-out;
          &:hover {
            background-color: #e6e6e6;
          }
        }

        .tagInputGroup {
          display: flex;
          align-items: center;

          .input {
            flex-grow: 1;
            margin-right: 1rem;
            padding: 0.5rem;
            border: 1px solid #d1d5db;
            border-radius: 0.375rem;
            font-size: 1rem;
          }

          .addButton {
            background-color: #194c5c;
            color: white;
            padding: 0.5rem 1rem;
            border-radius: 0.375rem;
            cursor: pointer;
            border: none;

            &:focus {
              box-shadow: 0 0 0 2px #194c5c;
              outline: none;
            }
          }
        }
      }

      .imageContainer {
        .imagePreview {
         display: flex;
         flex-wrap: wrap;
         gap: 2rem;
         margin: 10px 0;

         .imageWrapper {
          border: 1px solid rgb(11, 11, 17);
          border-radius: 10px;
          img {
          width: 200px;
          height: 200px;
          border-radius: 10px;
          }
         }
        }
      }
    }
  }
  .imagesDescription {
    font-size: small;
  }

  .saveButton {
    background-color: #194c5c;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    border: none;

    &:focus {
      box-shadow: 0 0 0 2px #0a1d3b;
      outline: none;
    }
  }

  .nonPerishableContainer {
    border: 1px solid #000000;
    border-radius:10px ;
    padding: 10px;
    margin: 10px 0;
  }
}